.page{
    background-color: #F1EDE4;
}


.testimonial-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.testimonial-section .testimonial-container .arrows {
    position: absolute;
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    bottom: 0;
    top: 0;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}
.testimonial-section .testimonial-container .arrows:hover {
   transform: scale(1.5);
}

.testimonial-section .testimonial-container .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.testimonial-section .testimonial-container .inner .t-image {
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testimonial-section .testimonial-container .inner .t-image:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: #3f56da;
    left: 140px;
    top: 0;
    border-radius: 100%;
    z-index: -9;
}
.testimonial-section .testimonial-container .inner .t-image ul {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 340px;
    width: 340px;
    box-shadow: 0px 0px 40px rgba(0, 0, 10, 0.25);
    list-style: none;
    padding-left: 0em;
}
.testimonial-section .testimonial-container .inner .t-image ul li {
    height: 340px;
    width: 340px;
}
.testimonial-section .testimonial-container .inner .t-image ul li img {
    height: 340px;
    width: 340px;
}
.testimonial-section .testimonial-container .inner .t-content {
    width: 500px;
    height: 600px;
    display: flex;
    align-items: center;
}
.testimonial-section .testimonial-container .inner .t-content ul {
    position: absolute;
    overflow: hidden;
    width: 500px;
    height: 400px;
}
.testimonial-section .testimonial-container .inner .t-content ul li {
    width: 500px;
    height: 400px;
    color: #000000;
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
}

.testimonial-section .testimonial-container .inner .t-content ul li .content-inner {
    width: 500px;
}
.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .quote {
    font-size: 26px;
    letter-spacing: 0.88px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .name {
    font-size: 18px;
    letter-spacing: 0.88px;
    line-height: 28px;
    color: #a09da6;
    font-weight: 600;
}
.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .title {
    font-size: 18px;
    letter-spacing: 0.88px;
    line-height: 28px;
   
}

