:root {
    --spacing-xxl: 19.5rem;
    /* 310px - Padding on side for medium wide section */
    --spacing-xl: 13.125rem;
    /* 210px - Padding on side for wide section */
    --spacing-l: 8.125rem;
    /* 130px - Spacing between each section vertically */
    --spacing-m: 6.25rem;
    /* 100px - Padding on top and bottom for grey section */
    --spacing-s: 3.75rem;
    /* 60px - Padding on top and bottom of footer and sections that goes together */
    --spacing-xs: 2.1875rem;
    /* 35px - Spacing between content in sections */
    --spacing-xxs: 0.9375rem;
    /* 15px - Padding top and bottom on navbar */

    --font: 'Source Sans Pro', sans-serif;
    --fontWeight-normal: 400;
    --fontWeight-semibold: 600;
    --fontWeight-bold: 700;
    --lineHeight-large: 2;
    --lineHeight: 1.5;
    --fontSize-root: 16px;
    --fontSize-h1: 2rem;
    --fontSize-h2: 1.5rem;
    --fontSize-h3: 1.5rem;
    --fontSize-p: 1rem;
    --fontSize-p-s: 1rem;
    --fontSize-p-xs: 0.625rem;

    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #4E4E4E;
    --light-grey: #F6F6F6;
    --dark-blue: #00446E;
    --light-blue: #81AECC;
}

.blog {
    background: #F1EDE4;
    height: 100vh;
    padding: 0 32px;
}


.blog {
    text-align: center;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: auto;
    grid-template-areas: 
      "test annat "
}

ol{
    grid-area: annat;
}

.left{
    grid-area: test;
}

a {
    text-decoration: none;
}

main .blog {
    padding: var(--spacing-m) var(--spacing-s);
    text-align: center;
}

.blog-grid {
    list-style-type: none;
    

}

.blog-grid {
    list-style-type: none;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: var(--spacing-xs);

}


.blog-card {
    margin: 0;
    position: relative;
    max-width: 480px;
}

.blog-card img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.blog-card .text {
    text-align: left;
}

.blog-card .text button {
    background-color: var(--white);
    color: var(--dark-grey);
    border: none;
}

.blog-card .text button:hover {
    text-decoration: underline;
}

.blog-card .text h2 {
    color: black;
    text-decoration: none;
    font-size: var(--fontSize-h3);
}

.blog-card .text p {
    font-size: var(--fontSize-p-s);
}

.blog-card .text .description {
    font-size: var(--fontSize-p-s);
    color: var(--black)
}

.blog-card .read-more {
    position: absolute;
    bottom: var(--spacing-xxs);
    left: var(--spacing-xxs);
    color: black;
    text-transform: uppercase;
}

.blog .cta-btn {
    margin-top: var(--spacing-s);
}



select:focus {
    box-shadow: none;
    outline: none;
}

@media only screen and (max-width: 768px) {
    .blog-grid {
  
    }
}

@media only screen and (max-width: 425px) {
    .blog-card {
        margin: 0 ;

    }

    .blog {
        padding: 0;
    }

    main .blog {
        padding: 0;
    }

    .blog-grid {
        padding-top: 7em;
        
    }

    .blog-grid {
     
    }

}

